* {
	box-sizing: : border-box;
}
body{
	margin:0;
	padding: 0;
font-family: "Comic Sans MS" , sans-serif;
}
.row{
	margin-top: 5%;
	padding-bottom: 5%;
	width: 90%;
}
h1{
	margin-bottom: 15px;
	text-align: center;
	color: green;
	font-size: 50px;
	font-weight: bold;
}
.box{
	width:100%;
	overflow: none;
}

.content-name{
	position: relative;
	overflow: none;
	text-align: center;
	border: 1px solid black;
	width: 100px;
	height: 40px;
	padding: 5px;
	float: right;
	margin-right: 12px;
	margin-top: 0px;
	font-weight: bold;
	
	background-color: orange;

}
.content{
	border: 1px solid black;
	width: 90%;
	height: auto;
	margin: 2.5%;
	color: black
	font-size: 25px;
	padding:2%;
	padding-top: 55px;
	background-color: #fff000;
}

@media (min-width:992px) {
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{

		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}
	.col-md-12{
		margin-left:-10px;
		margin-right: auto;
		width: 100%;
	}
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
}